.heading{
    color:darkblue;
    background-color: #ccc;
    text-align:center;
}
p{
    font-size: 14px;
}
a{
    text-decoration:none;
}
/*#har{
    color: green;
}*/
img[alt="Phone"]{
    border: 2px solid gray;
}
.ul{
    list-style-type: none;
}
.copy{
    text-align: right;
}