.heading{
    color:black;
    font-size: 18px;
    background-color: #eaeaea;
    text-align:center;
    font-weight: 400;
    
}
h2{
    text-align: center;
    color: darkblue;
}
p{
    font-size: 14px;
}
a{
    text-decoration:none;
}
#shortdescription{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

#fulldescription{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.character li{
    list-style: none;
    list-style-image: url(img/marker.jpg);
    font-size: 16px;
}
/*.character li:nth-child(2n){
    color: darkblue;
}*/
img[alt="Phone"]{
    border: 2px solid gray;
    width: 500px;
    
}
.Menu{
    list-style-type: none;
}
.Menu li a{
    font-family: cursive;
    font-size: 20px;
}
.copy{
    text-align: right;
}
.name{
    background-image: url(img/walp.jpg);
    background-position:center;
    text-align:center;
    color: white;
    background-repeat:no-repeat;
    background-size:auto;
}
body{
    background-color: #f8f8f8;
}

fieldset{
    color:black;
    font-weight: bold;
    border-color: darkblue;
    border:2px solid darkblue;
}
.contactsfieldset, .registrationfieldset{
    width: 300px;
    margin: 0 auto;
}
.Menu li a:hover{color:red;}

.character li:hover:after{
    content: " <<";
    color: red;
}