.heading {
    color: black;
    font-size: 18px;
    background-color: #eaeaea;
    text-align: center;
    font-weight: 400;

}

h2 {
    text-align: center;
    color: darkblue;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-family: cursive;
}

.mainimg {
    text-align: center;
}

#shortdescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

#fulldescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.character li {
    list-style: none;
    list-style-image: url(img/marker.jpg);
    font-size: 16px;
}

/*.character li:nth-child(2n){
    color: darkblue;
}*/
/*border: 2px solid gray;*/
img[alt="Phone"] {
    outline: 1px solid gray;
    width: 500px;
}

img[alt="Phone"]:hover {
    outline: none;
}

.menu {
    list-style-type: none;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
.menu li:first-child{
    width: 8%;
    margin-left: -67px;
    padding-top: 0px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.menu li {
    display: inline-block;
    width: 23%;
    vertical-align:middle;

}
.menu a{
    display: block;
}
.menu a:hover{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/*.menu li ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}*/
.name {
    background-image: url(img/walp.jpg);
    background-position: center;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    
}

body {
    background-color: #f8f8f8;
}

.contactsfieldset,
.registrationfieldset {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    line-height: 30px;
    color: black;
    font-weight: bold;
    border-color: darkblue;
    border: 2px solid darkblue;
}

.menu li a:hover {
    color: red;
}

.menu li a:active {
    color: black;
}

.character li:hover:after {
    content: " <<";
    color: red;
}

input[type="text"],
textarea {
    text-transform: capitalize;

}

.comment {
    width: 380px;
    height: 150px;
}

input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
    color: darkblue;
    background-color: azure;
}

.chartable {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 100px;
    vertical-align: middle;
    text-align: center;
}

#shortdescription::first-letter,
#fulldescription::first-letter {
    color: darkblue;
    font-size: 20px;
}

.chartd {
    border: 1px solid black;

}

.allptd {
    width: 200px;
    height: 200px;
}


.footer {
    /*
        height: 15px;
    margin-top: -15px;
    margin-right: -15px;
    
    position:absolute;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
    */
    text-align: right;
}
